.button {
  background-color: var(--btn-color) !important;
  border: none;
  border-radius: 15px;
  padding: 15px 18px !important; /* 좌우 여백을 줘서 가변적인 가로 길이 처리 */
  color: var(--black);
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-flex; /* 텍스트 길이에 맞게 버튼 길이 조정 */
  justify-content: center;
  align-items: center;
  width: auto; /* 너비를 자동으로 설정하여 텍스트 길이에 맞춤 */
  max-width: 100%; /* 부모 요소의 최대 너비를 넘지 않도록 설정 */
  white-space: nowrap; /*줄넘김 방지*/
}

.button.large {
  height: 55px;
  width: 300px;
  border-radius: 4px;
}
  
.button.middle {
  height: 50px;
}

.button.confirm {
  height: 40px;
  font-size: 20px;
}

.button.tag {
  height: 35px;
  font-size: 16px;
}

.button.comment {
  height: 30px;
  font-size: 16px;
}


.button:hover {
  background-color: #ffd700; /* hover 효과 */
}
