.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  
  .main-content {
    display: flex;
    justify-content: center;
  }
  
  /* .sidebar {
    width: 200px;
    background: #f4f4f4;
    padding: 1rem;
  } */
  
  .content {
    flex: 1;
    /* padding: 1rem; */
  }
  

  header {
    background: var(--white);
    color: var(--black);
    padding: 1rem;
  }

  footer {
    background: var(--white);
    color: var(--black);
    padding: 1rem;
    text-align: center;
    border-top: solid 1px var(--black);
    margin-top: auto; /*최하단에 고정*/
  }
  