/* .auth-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  } */

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    .auth-container {
      width: 50%; /* 스마트폰이나 태블릿과 같은 작은 화면에 대응하여 너비를 조정 */
    }
  }  
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  