.comments-grid {
  margin-top: 20px;
}

.comments-header {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  background: rgba(255, 229, 0, 0.3);
  color: var(--black);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.comment-row {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--box-border-color);
}


/* DeleteComments 특화 스타일 */
.delete-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-delete-button {
  padding: 10px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.cancel-delete-button:hover {
  background-color: #ccc;
}

/* .confirm-delete-button {
  padding: 10px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete-button:hover {
  background-color: #d63e28;
} */
