/*반응형웹디자인, 픽셀의 크기를 절대적으로 관리하지 않고
상대적으로 관리하기 위해 rem단위를 사용*/
:root {
  font-size: 16px; /* 1rem = 16px */
  --padding: 32px;
  --content-max-width: 1440px;

  /*색상*/
  --black: #000;
  --white: #fff;
  --btn-color: #FFE500;
  --banner-color: rgba(241, 239, 209, 0.25); 
  --border-color: #ddd;
  --box-color: #f9f9f9; 
  --box-border-color: #ccc;

  /*폰트사이즈*/
  --f12: 0.75rem; /* 12px */
  --f16: 1rem;    /* 16px */
  --f20: 1.25rem; /* 20px */
  --f24: 1.5rem; /* 24px */



}



 /*반응형*/
@media (max-width: 1440px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  /* 545
  350 */
}



/* flex-layout
 div안에서의 요소 스타일 설정 가능
*/
.inline-flex {display: inline-flex; flex-wrap: wrap;}
.flex {display: flex; flex-wrap: wrap;}
.justify-center {display: flex; justify-content: center;}
.space-between {display: flex; justify-content: space-between;}
.flex-end {display: flex; justify-content: flex-end;}
.align-center {display: flex; align-items: center;}
.align-start {display: flex; align-items: flex-start !important;}
.column-direction {display: flex; flex-direction: column;}
.row-direction {display: flex; flex-direction: row;}
.flex-grow {flex: 1 1;}

/* position-layout */
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}


/* padding, margin */
.pdx15 {padding: 0 15px;}
.pdx20 {padding: 0 20px;}
.pdx25 {padding: 0 25px;}
.pdx30 {padding: 0 30px;}
.pdx55 {padding: 0 55px;}

.mt8 {margin-top: 8px;}
.mt10 {margin-top: 10px;}
.mb0 {margin-bottom: 0px !important;}
.mb8 {margin-bottom: 8px;}
.ml8 {margin-left: 8px;}

/* width */
.w100p {width: 100% !important;}
.w70p {width: 70% !important;}
.w66p {width: 66.66% !important;}
.w50p {width: 50% !important;}
.w33p {width: 33.33% !important;}
.w30p {width: 30% !important;}
.w25p {width: 25% !important;}
.w20p {width: 20% !important;}
.w10p {width: 10% !important;}

/* height */
.h100p {height:100% !important;}
.h600 {height: 600px !important;}
.h530 {height: 530px !important;}
.h500 {height: 500px !important;}
.h400 {height: 400px !important;}
.h320 {height: 320px !important;}
.h300 {height: 300px !important;}
.h260 {height: 260px !important;}
.h190 {height: 190px !important;}

/*화면전체를 감쌀 메인 컨테이너 박스*/
.main-container{
  width: 100%;
  max-width: var(--content-max-width);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

}


/*로그인,회원가입의 메인박스*/
.auth-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--box-color);
}

/*가로 810크기의 박스*/
.main-box-810 {
  max-width: 810px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 0px;
  background-color: var(--box-color);
}

/*가로 1150크기의 박스*/
.main-box-1150 {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--box-color);
  border: none;
  border-radius: 8px;
}

/*비디오 1개의 박스(276px)*/
.video-box {
  width: 276px;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  
}

.video-box img {
  width: 100%;
  height: auto;
  aspect-ratio: 276 / 155.25;
  border-radius: 4px;
}

.video-box p {
  margin: 10px 0 0;
  font-weight: 500;
}

/*챌린지, 배틀페이지에서 비디오박스를 감쌀 박스*/
.sub-box-317 {
  width: 317px;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  background-color: var(--white);
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  
  margin: 10px;
  display: flex; /* 플렉스박스 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.challenge-container {
  display: flex;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px; 
}

.best-challenges {
  width: 340px;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  
}

.best-challenges h2 {
  font-size: var(--f24);
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
