:root {
  font-size: 16px;
  --padding: 0px;
  --content-max-width: 1440px;

  /*색상*/
  --black: #000;
  --white: #fff;
  --btn-color: #ffe500;
  --banner-color: rgba(241, 239, 209, 0.25);
  --border-color: #ddd;
  --box-border-color: #ccc;

  /*Padding*/
  --pdx15: 15px;
  --pdx30: 30px;
  
  /*Margin Top*/
  --mt10: 10px;
  --mt20: 20px;
  --mt40: 40px;
  --mt50: 50px;
  --mt60: 60px;
  --mt70: 70px;
  --mt80: 80px;
  --mt90: 90px;
  --mt120: 120px;
  --mt123: 123px;

  /*Margin Bottom*/
  --mb10: 10px;
  --mb20: 20px;
  --mb21: 21px;
  --mb30: 30px;
  --mb40: 40px;
  --mb50: 50px;
  --mb60: 60px;
  --mb80: 80px;

  /*Margin Left*/
  --ml8: 8px;
  --ml10: 10px;

  /*Margin Right*/
  --mr10: 10px;
}

/*반응형*/
@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

/* flex-layout
 div안에서의 요소 스타일 설정 가능
*/
.inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items: flex-start !important;
}

.column-direction {
  display: flex;
  flex-direction: column;
}

.row-direction {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.pdx15 { padding: 0 var(--pdx15); } 
.pdx30 { padding: 0 var(--pdx30); } 

.mt10 { margin-top: var(--mt10); }
.mt20 { margin-top: var(--mt20); }
.mt40 { margin-top: var(--mt40) !important;}
.mt50 { margin-top: var(--mt50); }
.mt60 { margin-top: var(--mt60); }
.mt70 { margin-top: var(--mt70); }
.mt80 { margin-top: var(--mt80) !important; }
.mt90 { margin-top: var(--mt90); }
.mt120 { margin-top: var(--mt120) !important; }
.mt123 { margin-top: var(--mt123); }

.mb10 { margin-bottom: var(--mb10); } 
.mb20 { margin-bottom: var(--mb20); } 
.mb21 { margin-bottom: var(--mb21); } 
.mb30 { margin-bottom: var(--mb30); } 
.mb40 { margin-bottom: var(--mb40); } 
.mb50 { margin-bottom: var(--mb50); } 
.mb60 { margin-bottom: var(--mb60); } 
.mb80 { margin-bottom: var(--mb80); } 

.ml8 { margin-left: var(--ml8); } 
.ml10 { margin-left: var(--ml10); } 

.mr10 { margin-right: var(--mr10); }

/* width */
.w100p {
  width: 100% !important;
}

.w70p {
  width: 70% !important;
}

.w66p {
  width: 66.66% !important;
}

.w50p {
  width: 50% !important;
}

.w33p {
  width: 33.33% !important;
}

.w30p {
  width: 30% !important;
}

.w25p {
  width: 25% !important;
}

.w20p {
  width: 20% !important;
}

.w10p {
  width: 10% !important;
}

/* height */
.h100p {
  height: 100% !important;
}

.h320 {
  height: 320px !important;
}

/*박스 레이아웃*/

/*로그인,회원가입의 메인박스*/
.auth-container {
  width: 520px;
  margin: 0 auto;
}

/*로그인박스 스타일*/
.auth-box {
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: center;
  align-content: center;
}

/*가로 810크기의 박스*/
.main-container-810 {
  max-width: 810px;
  margin: 0 auto;
}

/*가로 1150크기의 박스*/
.main-container-1150 {
  max-width: 1150px;
  margin: auto;
}

/*비디오 1개의 박스(276px)*/
.video-box {
  /* width: 276px; */
  border-radius: 4px;
  background-color: var(--white);
  padding: 0px;
  box-sizing: border-box;
  position: relative;
}

.video-box:hover img {
  transform: scale(1.05);
  /* 호버 시 약간 확대됨 */
}

/* 썸네일을 감싸는 컨테이너 */
.thumbnail-container {
  position: relative; /* 이 컨테이너를 기준으로 자식 요소를 절대 위치로 배치합니다. */
}

.video-box img {
  /* width: 100%; */
  height: auto;
  aspect-ratio: 276 / 155.25;
  object-fit: fill;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  
}

.video-length {
  position: absolute; 
  bottom: 10px; 
  right: 8px; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 3px; 
  font-size: 12px; 
  border-radius: 3px; 
  z-index: 10;
}

.no-transform {
  width: 22px;
  transform: none !important;
}

.video-box p {
  margin: 10px 0 0;
}

.video-box-detail {
  gap: 15px;
}

/*챌린지, 배틀페이지에서 비디오박스를 감쌀 박스*/
.sub-box-300 {
  width: 300px;
  height: 300px;
  border: 1px solid #d4d4d4;
  border-radius: 15px;
  background-color: white;
  margin: 10px;
  display: flex;
  /* 플렉스박스 사용 */
  justify-content: center;
  /* 수평 가운데 정렬 */
  align-items: center;
  /* 수직 가운데 정렬 */
}

.challenge-container {
  display: flex;
  justify-content: center;
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.best-challenges h2 {
  font-size: var(--f24);
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/*아이콘을 감쌀 박스*/
.icon-wrapper {
  display: inline-flex;
  margin-right: 8px;
}

/*버튼*/
.button {
  background-color: var(--btn-color);

  border-radius: 15px;
  padding: 15px 18px;
  /* 좌우 여백을 줘서 가변적인 가로 길이 처리 */
  color: var(--black);
  font-size: 20px;

  text-align: center;
  display: inline-flex;
  /* 텍스트 길이에 맞게 버튼 길이 조정 */
  justify-content: center;
  align-items: center;
  width: auto;
  /* 너비를 자동으로 설정하여 텍스트 길이에 맞춤 */
  max-width: 100%;
  /* 부모 요소의 최대 너비를 넘지 않도록 설정 */
  white-space: nowrap;
  /*줄넘김 방지*/
}

.button.large {
  height: 55px;
  width: 320px;
  border-radius: 10px;
}

.button.middle {
  height: 45px;
}

.button.confirm {
  height: 40px;
  font-size: 20px;
}

.button.tag {
  height: 35px;
  font-size: 16px;
}

/*태그 박스에 들어갈 버튼 스타일*/
.tag-box button {
  padding: 10px !important;
  margin: 7px 14px 7px 0px;
  background-color: rgba(255, 229, 0, 0.3);
}

.tag-box button:first-child {
  margin-left: 0;
}

.tag-box button:last-child {
  margin-right: 0;
  /* 마지막 버튼의 오른쪽 여백 제거 */
}


.button.comment {
  height: 30px;
  font-size: 16px;
}

.button:hover {
  background-color: #ffd700;
  /* hover 효과 */
}

/*레이아웃(헤더,메인,푸터)*/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  max-height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 0px;
  /* 오른쪽에만 패딩 */
  background-color: var(--white);
  /* 헤더 배경색 */
  border-bottom: solid 1px #eff3f6;
  /* 헤더 하단에 회색 선 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999999999;
  /* 화면 상단에 고정 */
}

.logo {
  margin-right: 0px;
  /* 로고와 내비게이션 사이의 간격 */
}

.nav {
  flex-grow: 1;
  /* 내비게이션이 가운데에 위치하도록 */
}

.nav-list {
  display: flex;
  margin-right: auto;
  padding-left: 60px;
}

.nav-list li {
  margin-right: 50px;
  /* 버튼들 사이의 간격 */
}

.nav-list li:last-child {
  margin-right: 0;
  /* 마지막 버튼의 오른쪽 여백 제거 */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 28px;
  margin-right: 50px;
}

.nav-icon:last-child {
  margin-right: 0;
  /* 마지막 아이콘의 오른쪽 마진 제거 */
}

.icon-image {
  width: 100%;
  height: 100%;
}

.header button {
  font-size: 20px;
  font-weight: 700;
  background-color: inherit;
  color: black;
  /* 버튼 텍스트 색상 */
}

footer {
  background: var(--white);
  color: var(--black);
  padding: 12px;
  text-align: center;
  border-top: solid 1px rgba(0, 0, 0, 0.25);
}

/*비디오스타일*/
.videos-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.videos-container h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

/*동영상 리스트 출력*/
.movie-small {
  flex-grow: 1;
  /* 내비게이션이 가운데에 위치하도록 */
}

.video-title{
  font-weight: 500;
}

.movie-small-list {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.movie-small-list li {
  margin-right: 10px;
  /* 버튼들 사이의 간격 */
}

.movie-small-list li:last-child {
  margin-left: auto;
  margin-right: 0;
  /* 마지막 버튼의 오른쪽 여백 제거 */
}

/*배너*/
.banner {
  width: 100%;
  height: 189px;
  background: var(--banner-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

/*배너내부 이미지 투명도설정*/
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/images/banner_image.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0.05;
  z-index: -1;
}

.banner h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 500;
  width: 810px;

}

/*배너 내부의 버튼 안의 간격*/
.banner-buttons-box {
  display: flex;
  gap: 24px;
  margin-left: 10px;
  flex-wrap: wrap;
}


/*관리자 페이지 배너*/
.banner-admin {
  display: flex;
  width: 810px;
  gap: 20px;
}

.banner-admin h2{
  font-size: 40px;
}

.banner-admin h3{
  font-weight: 300;
}

.banner-admin button {
  height: 40px;
  padding: 15px 35px;
}

.banner-ch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

/*챌린지,배틀 배너*/
.ch-banner h1 {
  font-size: 42px;
}

.ch-banner Button {
  padding: 15px 35px;
}

/*마이페이지 배너 등급 글씨 두껍게*/
.banner-my span {
  
  font-weight: 700;
  
}

/*스피너(로딩)*/
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* 스피너가 뜰 때 배경의 투명도 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소 위에 올라오도록 설정 */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
